<label for="vecka">Vecka:</label><br>
<input required value="<%= meny.vecka %>" type="text" id="vecka" name="vecka" ><br>

<label for="mon">Måndag:</label><br>
<input required  value="<%= meny.mondag1 %>" type="text" id="mon1" name="mon1" ><br>
<input value="<%= meny.mondag2 %>" type="text" id="mon2" name="mon2" ><br>
<input value="<%= meny.mondag3 %>" type="text" id="mon3" name="mon3" ><br>

<label for="tis">Tisdag:</label><br>
<input required  value="<%= meny.tisdag1 %>" type="text" id="tis1" name="tis1" ><br>
<input value="<%= meny.tisdag2 %>" type="text" id="tis2" name="tis2" ><br>
<input value="<%= meny.tisdag3 %>" type="text" id="tis3" name="tis3" ><br>

<label for="ons">Onsdag:</label><br>
<input required  value="<%= meny.onsdag1 %>" type="text" id="ons1" name="ons1" ><br>
<input value="<%= meny.onsdag2 %>" type="text" id="ons2" name="ons2" ><br>
<input value="<%= meny.onsdag3 %>" type="text" id="ons3" name="ons3" ><br>

<label for="tor">Torsdag:</label><br>
<input required  value="<%= meny.torsdag1 %>" type="text" id="tor1" name="tor1" ><br>
<input value="<%= meny.torsdag2 %>" type="text" id="tor2" name="tor2" ><br>
<input value="<%= meny.torsdag3 %>" type="text" id="tor3" name="tor3" ><br>

<label for="fre">Fredag:</label><br>
<input required  value="<%= meny.fredag1 %>" type="text" id="fre1" name="fre1" ><br>
<input value="<%= meny.fredag2 %>" type="text" id="fre2" name="fre2" ><br>
<input value="<%= meny.fredag3 %>" type="text" id="fre3" name="fre3" ><br>

<label for="dagens">Dagens:</label><br>
<input value="<%= meny.dagdatum %>" type="text" id="dagd" name="dagd" ><br>
<input value="<%= meny.dagens1 %>" type="text" id="dag1" name="dag1" ><br>
<input value="<%= meny.dagens2 %>" type="text" id="dag2" name="dag2" ><br>
<input value="<%= meny.dagens3 %>" type="text" id="dag3" name="dag3" ><br>

<br>
<button class="back"><a href="/admin" class="button"><i class="fas fa-long-arrow-alt-left"></i>&nbsp;Tillbaka&nbsp;</a></button>
<input class="save" type="submit" value="Spara" id="button">